.place-order-page {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 100px;
}

.place-order-leftside {
  width: 100%;
  max-width: max(30%, 500px);
}

.place-order-leftside .title,
.cart-total h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #0e1630;
}

.place-order-leftside input,
.place-order-leftside select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  outline-color: #d2876c;
  outline-width: 0.01;
}

.info-element-side-by-side {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.place-order-rightside {
  width: 100%;
  max-width: max(40%, 500px);
}

.place-order-rightside .cart-total button {
  margin-top: 20px;
  width: max(10vw, 140px);
}

.payment-method select {
  color: #757575; /* Default color for placeholder */
}
