.explore-our-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explore-our-menu h1 {
  font-weight: 500;
  color: #333333;
}

.menu-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin: 20px 0;
  overflow-x: scroll;
}

.menu-categories img {
  width: 7.5vw;
  min-width: 85px;
  height: 7.5vw;
  min-height: 85px;
  border: 2px solid #757575;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-categories p {
  color: #757575;
  margin-top: 10px;
  font-size: max(1.4vw, 16px);
  cursor: pointer;
}

.explore-our-menu hr {
  height: 2px;
  background-color: #e2e2e2;
  margin: 10px 0;
  border: none;
}

.menu-item .active {
  border: 3px solid tomato;
  padding: 2px;
}
