.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px #d4d4d4;
  transition: 0.3s ease;
  animation: FadeIn 1s;
}

.food-item:hover {
  transform: scale(1.07);
}

.food-item-img img {
  width: 100%;
  height: 200px;
  overflow: hidden; /* Ensures that overflow is hidden for tall images */
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.food-item-info {
  padding: 20px 10px;
}

.food-item-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding-bottom: 10px;
}

.food-item-rating p {
  font-size: 16px;
  font-weight: 500;
}

.food-item-rating img {
  width: 70px;
}

.food-item-price {
  color: tomato;
  font-size: 17px;
  font-weight: 500;
  margin: 10px 0;
}

.price-and-add-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
  padding: 0 6px;
}

.add-button p {
  font-size: 22px;
}

.count-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.count-icons .counter-buttons p {
  font-size: 25px;
}

.count-icons button {
  border: none;
  cursor: pointer;
}

.plus-icon button {
  background-color: #e9f8f5ff;
  border-radius: 50%;
  margin-left: 7px;
}

.minus-icon button {
  background-color: #f6e0e0;
  border-radius: 50%;
  margin-right: 7px;
}

.plus-icon p {
  color: #00a082ff;
  margin: 0 5px;
}

.minus-icon p {
  color: #8b0101;
  margin: 0 6px;
}
