.Header {
  height: 45vw;
  margin: 5px 0 30px 0;
  background: url("./banner.jpeg") no-repeat center center;
  background-size: cover;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.Header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent dark overlay */
  z-index: 1;
  border-radius: inherit; /* Ensures the overlay follows the border radius */
}

.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  bottom: 10%;
  max-width: 80%;
  left: 4vw;
  gap: 1.5vw;
  z-index: 2;
  animation: FadeIn 2.5s;
}

.header-content h2 {
  font-weight: 500;
  color: white;
  font-size: max(3.7vw, 20px);
}

.header-content p {
  color: white;
  font-size: 1.3vw;
}

.header-content button {
  color: #747474;
  font-weight: 500;
  border: none;
  background-color: white;
  padding: 1vw 2.3vw;
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .header-content {
    max-width: 90%;
  }
}

@media (max-width: 750px) {
  .header-content {
    max-width: 55%;
  }
  .header-content p {
    display: none;
  }
  .header-content button {
    padding: 2vw 4vw;
    margin-top: 8px;
  }
}
